{% load static %}
<html>
    <head>
        <title>Sambrem's Blog</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
         <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Nunito|Open+Sans&display=swap" rel="stylesheet" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <div class="page-header">
	{% if user.is_authenticated %}
	<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
	{% endif %}
	<h1><a href="/">My Djangogirls Tutorial Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div>
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>
