body {
}
h1 a, h2 a {
	font-family: 'Nunito';
	text-decoration: none;
}
.page-header {
	background-color: darkred;
	margin-top: 0;
	padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited {
	color: #f4ffff;
	font-size: 36pt;
	text-decoration: none;
}
.page-header a:active {
	text-shadow: 2px 2px #470000;
}
.page-header a:hover {
	text-shadow: -1px -1px crimson;
}
.content {
	margin: 35px;
	text-align: center;
}
h1 {
	font-family: 'Nunito';
	text-align: center;
}
h2, h3, h4 {
	font-family: 'Nunito';
	color: darkred;
}
.date {
	color: #484669;
}
.save {
	float: right;
}
.post-form textarea, .post-form input {
	width: 100%;
	font-family: 'Indie Flower';
	color: #0e0d17;
	font-size: 20px;
}
.top-menu, .top-menu:hover, .top-menu:visited {
	color:#F4FFFF;
	float: right;
	font-size: 26pt;
	margin-right: 20px;
}
.post {
	margin-top: 35;
	margin-bottom: 70px;
	font-family: 'Open Sans';
	color: #0E0D17;
}
.post h2 a, .post h2 a:visited {
	color: darkred;
}
.post h2 a:active, .post h2 a:hover {
	color: crimson;
	text-shadow: 1px 1px darkred;
	text-decoration: none;
}
p {
	padding: 20px;
	border-bottom: dotted #ffbdca;
}
button {
	font-family: 'Nunito';
	color: darkred;
	border: crimson;
}
